.app {
  text-align: center;
  height: 100%;
}
.app.dark {
  color: #fff;
  background-color: #13131a;
  height: 100vh;
}
.app.light {
  color: #114f5a;
  background-color: #f7f8fb;
  height: 100vh;
}
.theme-button {
  border: none;
  padding: 15px;
  border-radius: 5px 10px;
  display: flex;
  position: fixed;
}
.light .theme-button {
  background-color: #c49450;
}
.light .theme-button:hover {
  border: 1px solid #c49450;
  background-color: white;
  color: #c49450;
}
.dark .theme-button {
  background-color: #7463f4;
  color: #ffffff;
}
.dark .theme-button:hover {
  border: 1px solid #7463f4;
  background-color: #ffffff;
  color: #7463f4;
}
